In [1]:
# Importing package
import re
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../../data_clean/indicators_per-industry_per-county.csv")
df

,Unnamed: 0,fips,county,name,industry_code,industry_detail,relevant_naics,year,payann,estab,...,METL,MINE,MSW,NREN,OZON,PEST,REN,SMOG,VADD,WATR
0,0,8001,1,"Adams County, Colorado",113000,timber and raw forest products,[113],2012,0,1,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
1,1,8001,1,"Adams County, Colorado",115000,agriculture and forestry support,[115],2012,290,6,...,7.965438e-05,0.0,3.405586,0.0,1.827157e-04,8.769207e-03,0.958770,2.011564,211.423463,15.653502
2,2,8001,1,"Adams County, Colorado",211000,unrefined oil and gas,[211],2012,0,6,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
3,3,8001,1,"Adams County, Colorado",2122a0,"iron, gold, silver, and other metal ores","[21221, 21222, 21229]",2012,0,1,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
4,4,8001,1,"Adams County, Colorado",212310,dimensional stone,[21231],2012,0,4,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306027,306027,32510,510,"Carson City, Nevada",812300,dry-cleaning and laundry,[8123],2012,0,4,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
306028,306028,32510,510,"Carson City, Nevada",812900,"pet care, photofinishing, parking and other su...",[8129],2012,331,4,...,1.483303e-05,0.0,2.148818,0.0,1.318396e-07,2.876990e-09,0.025598,0.076440,191.834961,0.096584
306029,306029,32510,510,"Carson City, Nevada",813100,religious organizations,[8131],2012,2441,13,...,1.670618e-07,0.0,6.541864,0.0,0.000000e+00,0.000000e+00,0.000000,0.312826,696.409510,2.551873
306030,306030,32510,510,"Carson City, Nevada",813a00,"grantmaking, giving, and social advocacy organ...","[8132, 8133]",2012,635,9,...,8.127071e-09,0.0,4.713797,0.0,0.000000e+00,0.000000e+00,0.000000,0.020206,440.264876,0.051385
306031,306031,32510,510,"Carson City, Nevada",813b00,"civic, social, professional, and similar organ...","[8134, 8139]",2012,3487,27,...,2.352356e-07,0.0,41.326242,0.0,2.745370e-09,0.000000e+00,0.000360,0.539562,2716.179671,5.801004

In [3]:
df_new = df.groupby(['fips', 'name', 'year'], as_index=False)['payann', 'estab', 
    'emp', 'ACID', 'ENRG', 'ETOX', 'EUTR', 'FOOD', 'GCC', 'HAPS', 'HAZW', 'HC', 
    'HNC', 'HRSP', 'HTOX', 'JOBS', 'LAND', 'METL', 'MINE', 'MSW', 'NREN',
       'OZON', 'PEST', 'REN', 'SMOG', 'VADD', 'WATR'].sum()
df_new

,fips,name,year,payann,estab,emp,ACID,ENRG,ETOX,EUTR,...,METL,MINE,MSW,NREN,OZON,PEST,REN,SMOG,VADD,WATR
0,1001,"Autauga County, Alabama",2012,128668,594,4954,299.152569,7.286445e+05,1963.026340,26.933851,...,0.050200,0.000000e+00,2149.369209,4.351692e+05,0.002923,3.497395e-02,293475.377416,2949.632736,79914.159702,7851.498268
1,1003,"Baldwin County, Alabama",2012,953498,3340,32629,133.420049,6.931874e+03,3765.662479,132.635472,...,0.057225,1.674254e+04,16148.087370,4.932628e+03,0.007422,8.577729e-02,1999.246044,4438.579174,576096.081165,1633.902304
2,1005,"Barbour County, Alabama",2012,53138,361,1715,102.817249,6.064801e+00,3298.083216,13.598555,...,0.002351,0.000000e+00,554.606997,0.000000e+00,0.000153,4.371549e-02,6.064801,3649.913530,29611.275038,511.844967
3,1007,"Bibb County, Alabama",2012,20778,205,655,30.042694,2.012683e+04,1807.410043,4.819015,...,0.006445,0.000000e+00,309.053357,0.000000e+00,0.000593,2.437340e-02,20126.828138,1064.780004,10666.884789,285.555832
4,1009,"Blount County, Alabama",2012,61132,455,2161,32.192658,1.131970e+01,416.998063,4.320160,...,0.004599,0.000000e+00,896.650774,0.000000e+00,0.002463,6.501047e-03,11.319704,1165.911030,36511.029249,98.727235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,"Sweetwater County, Wyoming",2012,491651,989,9029,587.935749,3.629382e+06,813.473206,105.117742,...,0.063982,1.394053e+06,4115.339612,3.628234e+06,0.003711,8.917167e-03,1147.804947,19410.599796,312217.341832,5945.474594
3136,56039,"Teton County, Wyoming",2012,361056,1402,8689,37.178584,9.249760e+02,7592.166446,25.091516,...,0.020598,8.200278e+00,6423.591808,4.857347e+02,0.003347,2.019774e-01,439.241290,1412.961358,210925.667302,1777.330068
3137,56041,"Uinta County, Wyoming",2012,145379,442,3287,96.737078,1.919977e+06,112.140420,13.936063,...,0.011720,3.997271e+05,1420.508279,1.919961e+06,0.000773,4.621011e-04,16.608615,3486.862556,97322.166731,582.400056
3138,56043,"Washakie County, Wyoming",2012,31951,283,907,31.417667,2.756565e+05,28.072519,4.183471,...,0.000551,0.000000e+00,518.501787,2.756546e+05,0.000140,3.860924e-07,1.845259,1176.237930,20257.950393,20.344697
3139,56045,"Weston County, Wyoming",2012,19638,167,496,34.618906,4.287379e+05,68.249727,4.688287,...,0.000817,1.711363e+04,348.003649,4.286608e+05,0.000395,9.432837e-04,77.061234,1321.995548,12995.136488,47.904143

In [15]:
df_cancer = pd.read_csv("../../data_clean/CDC_CancerByCounty/incidencerates.csv")
cancer_df = df_cancer[['fips', 'cancer']]  # 'trend_last_5' missing data in 10 counties
df_cancer=cancer_df.groupby(['fips'], as_index=False).sum()
df_cancer

         fips  cancer
0         0.0  172748
1      1000.0    3455
2      1001.0    3455
3      1003.0    3455
4      1005.0    3455
...       ...     ...
3185  56037.0    3455
3186  56039.0    3455
3187  56041.0    3455
3188  56043.0    3455
3189  56045.0    3455

[3190 rows x 2 columns]

In [17]:
result = pd.merge(df_new, df_cancer, on='fips', how='inner')
result

,fips,name,year,payann,estab,emp,ACID,ENRG,ETOX,EUTR,...,MINE,MSW,NREN,OZON,PEST,REN,SMOG,VADD,WATR,cancer
0,1001,"Autauga County, Alabama",2012,128668,594,4954,299.152569,7.286445e+05,1963.026340,26.933851,...,0.000000e+00,2149.369209,4.351692e+05,0.002923,3.497395e-02,293475.377416,2949.632736,79914.159702,7851.498268,3455
1,1003,"Baldwin County, Alabama",2012,953498,3340,32629,133.420049,6.931874e+03,3765.662479,132.635472,...,1.674254e+04,16148.087370,4.932628e+03,0.007422,8.577729e-02,1999.246044,4438.579174,576096.081165,1633.902304,3455
2,1005,"Barbour County, Alabama",2012,53138,361,1715,102.817249,6.064801e+00,3298.083216,13.598555,...,0.000000e+00,554.606997,0.000000e+00,0.000153,4.371549e-02,6.064801,3649.913530,29611.275038,511.844967,3455
3,1007,"Bibb County, Alabama",2012,20778,205,655,30.042694,2.012683e+04,1807.410043,4.819015,...,0.000000e+00,309.053357,0.000000e+00,0.000593,2.437340e-02,20126.828138,1064.780004,10666.884789,285.555832,3455
4,1009,"Blount County, Alabama",2012,61132,455,2161,32.192658,1.131970e+01,416.998063,4.320160,...,0.000000e+00,896.650774,0.000000e+00,0.002463,6.501047e-03,11.319704,1165.911030,36511.029249,98.727235,3455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3128,56037,"Sweetwater County, Wyoming",2012,491651,989,9029,587.935749,3.629382e+06,813.473206,105.117742,...,1.394053e+06,4115.339612,3.628234e+06,0.003711,8.917167e-03,1147.804947,19410.599796,312217.341832,5945.474594,3455
3129,56039,"Teton County, Wyoming",2012,361056,1402,8689,37.178584,9.249760e+02,7592.166446,25.091516,...,8.200278e+00,6423.591808,4.857347e+02,0.003347,2.019774e-01,439.241290,1412.961358,210925.667302,1777.330068,3455
3130,56041,"Uinta County, Wyoming",2012,145379,442,3287,96.737078,1.919977e+06,112.140420,13.936063,...,3.997271e+05,1420.508279,1.919961e+06,0.000773,4.621011e-04,16.608615,3486.862556,97322.166731,582.400056,3455
3131,56043,"Washakie County, Wyoming",2012,31951,283,907,31.417667,2.756565e+05,28.072519,4.183471,...,0.000000e+00,518.501787,2.756546e+05,0.000140,3.860924e-07,1.845259,1176.237930,20257.950393,20.344697,3455
3132,56045,"Weston County, Wyoming",2012,19638,167,496,34.618906,4.287379e+05,68.249727,4.688287,...,1.711363e+04,348.003649,4.286608e+05,0.000395,9.432837e-04,77.061234,1321.995548,12995.136488,47.904143,3455

In [14]:
result.to_csv("data_viz.csv", index=False)

In [18]:
df_new[~df_new.fips.isin(df_cancer.fips)]

,fips,name,year,payann,estab,emp,ACID,ENRG,ETOX,EUTR,...,METL,MINE,MSW,NREN,OZON,PEST,REN,SMOG,VADD,WATR
76,2105,"Hoonah-Angoon Census Area, Alaska",2012,2867,63,48,1.109523,3.136368,46.491002,0.368733,...,0.002392,0.000000,31.100974,0.000000,0.000011,1.219662e-03,3.136368,36.632252,1596.212392,12.299408
86,2195,"Petersburg Census Area, Alaska",2012,14274,127,265,1.566714,2.111854,0.097588,39.488054,...,0.000074,0.000000,286.680154,0.000000,0.000410,1.619062e-07,2.111854,46.467452,5303.738436,41.794329
87,2198,"Prince of Wales-Hyder Census Area, Alaska",2012,7959,108,64,1.449590,3.572667,1468.019312,0.695830,...,0.000201,0.000000,301.774266,0.000000,0.000315,2.000628e-02,3.572667,34.330463,5130.736122,231.326596
89,2230,"Skagway Municipality, Alaska",2012,9146,70,51,3.857452,2.698056,199.648536,0.838943,...,0.004959,0.000000,176.278190,0.000000,0.000025,5.250683e-03,2.698056,127.045950,4617.941097,45.997763
93,2275,"Wrangell City and Borough, Alaska",2012,2974,56,70,0.006525,0.103340,0.602039,0.005933,...,0.000013,0.000000,175.067308,0.000000,0.000216,7.960902e-06,0.103340,0.671285,1999.111515,2.547659
2826,51019,"Bedford County, Virginia",2012,125055,888,4163,69.850595,8954.856731,1559.510492,9.424680,...,0.006410,0.004886,1931.941669,80.164441,0.005647,1.988242e-02,8874.692290,2460.658179,73151.220333,283.508267
2913,51515,"Bedford city, Virginia",2012,27819,269,1071,0.082351,2.097059,0.969239,0.144011,...,0.000110,0.000000,346.046969,0.000000,0.000039,4.824651e-08,2.097059,7.678301,16664.974743,19.504993

In [21]:
df[df['name'].str.contains('Ketchikan')]

,Unnamed: 0,fips,county,name,industry_code,industry_detail,relevant_naics,year,payann,estab,...,METL,MINE,MSW,NREN,OZON,PEST,REN,SMOG,VADD,WATR
91298,91298,2130,130,"Ketchikan Gateway Borough, Alaska",113000,timber and raw forest products,[113],2012,9976,6,...,5.968180e-04,0.0,29.066989,0.0,3.410899e-06,0.110267,2.491440,181.425507,5928.324678,1233.281947
91299,91299,2130,130,"Ketchikan Gateway Borough, Alaska",114000,wild-caught fish and game,[114],2012,478,8,...,1.513583e-05,0.0,0.406757,0.0,5.157491e-09,0.000022,0.016584,0.020507,358.550768,0.328166
91300,91300,2130,130,"Ketchikan Gateway Borough, Alaska",212310,dimensional stone,[21231],2012,0,1,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
91301,91301,2130,130,"Ketchikan Gateway Borough, Alaska",21311a,other support activities for mining,"[213112, 213113, 213114, 213115]",2012,0,1,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
91302,91302,2130,130,"Ketchikan Gateway Borough, Alaska",311300,"sugar, candy, and chocolate",[3113],2012,0,1,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91378,91378,2130,130,"Ketchikan Gateway Borough, Alaska",812300,dry-cleaning and laundry,[8123],2012,0,2,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
91379,91379,2130,130,"Ketchikan Gateway Borough, Alaska",812900,"pet care, photofinishing, parking and other su...",[8129],2012,0,2,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
91380,91380,2130,130,"Ketchikan Gateway Borough, Alaska",813100,religious organizations,[8131],2012,681,10,...,4.660756e-08,0.0,1.825076,0.0,0.000000e+00,0.000000,0.000000,0.087273,194.287127,0.711932
91381,91381,2130,130,"Ketchikan Gateway Borough, Alaska",813a00,"grantmaking, giving, and social advocacy organ...","[8132, 8133]",2012,0,2,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
91382,91382,2130,130,"Ketchikan Gateway Borough, Alaska",813b00,"civic, social, professional, and similar organ...","[8134, 8139]",2012,1185,18,...,7.994096e-08,0.0,14.044049,0.0,9.329692e-10,0.000000,0.000122,0.183361,923.049300,1.971377