In [1]:
import pandas as pd
import numpy as np

# Importing the data and exploring it

## Importing cancer data

In [2]:
cancer_data = pd.read_csv("../data_clean/CDC_CancerByCounty/incidencerates/cancer_by_type.csv")
cancer_data.head()

,locale,fips,met_health_obj,incidence rate_per_100000,incidence rate_lower_95_confidence,incidence rate_upper_95_confidence,annual_count_avg,recent_trend_str,trend_last_5,trend_last_5_lower_95_confidence,...,cancer,file_name,race,sex,source_url,stage,stateFIPS,type,state,cancer_description
0,"US (SEER+NPCR)(1,10)",0.0,***,448.0,447.7,448.4,1638110.0,falling,-0.9,-1.6,...,1,incidencerates_000.csv,0,0,https://www.statecancerprofiles.cancer.gov/inc...,NaN,29,incd,missouri,All Cancer Sites
1,"US (SEER+NPCR)(1,10)",0.0,***,448.0,447.7,448.4,1638110.0,falling,-0.9,-1.6,...,1,incidencerates_000.csv,0,0,https://www.statecancerprofiles.cancer.gov/inc...,NaN,46,incd,southdakota,All Cancer Sites
2,"US (SEER+NPCR)(1,10)",0.0,***,448,447.7,448.4,1638110,falling,-0.9,-1.6,...,1,incidencerates_000.csv,0,0,https://www.statecancerprofiles.cancer.gov/inc...,NaN,2,incd,alaska,All Cancer Sites
3,"US (SEER+NPCR)(1,10)",0.0,***,448.0,447.7,448.4,1638110.0,falling,-0.9,-1.6,...,1,incidencerates_000.csv,0,0,https://www.statecancerprofiles.cancer.gov/inc...,NaN,33,incd,newhampshire,All Cancer Sites
4,"US (SEER+NPCR)(1,10)",0.0,***,448.0,447.7,448.4,1638110.0,falling,-0.9,-1.6,...,1,incidencerates_000.csv,0,0,https://www.statecancerprofiles.cancer.gov/inc...,NaN,17,incd,illinois,All Cancer Sites

In [3]:
cancer_data.columns

Index(['locale', 'fips', 'met_health_obj', 'incidence rate_per_100000',
       'incidence rate_lower_95_confidence',
       'incidence rate_upper_95_confidence', 'annual_count_avg',
       'recent_trend_str', 'trend_last_5', 'trend_last_5_lower_95_confidence',
       'trend_last_5_upper_95_confidence', 'age', 'areatype', 'cancer',
       'file_name', 'race', 'sex', 'source_url', 'stage', 'stateFIPS', 'type',
       'state', 'cancer_description'],
      dtype='object')

In [4]:
cancer_data = cancer_data[['locale', 'fips', 'areatype', 'cancer', 'stateFIPS',
       'state', 'cancer_description', 'annual_count_avg', 'incidence rate_per_100000',
        'incidence rate_lower_95_confidence', 'incidence rate_upper_95_confidence']]
cancer_data.head()

,locale,fips,areatype,cancer,stateFIPS,state,cancer_description,annual_count_avg,incidence rate_per_100000,incidence rate_lower_95_confidence,incidence rate_upper_95_confidence
0,"US (SEER+NPCR)(1,10)",0.0,country,1,29,missouri,All Cancer Sites,1638110.0,448.0,447.7,448.4
1,"US (SEER+NPCR)(1,10)",0.0,country,1,46,southdakota,All Cancer Sites,1638110.0,448.0,447.7,448.4
2,"US (SEER+NPCR)(1,10)",0.0,country,1,2,alaska,All Cancer Sites,1638110,448,447.7,448.4
3,"US (SEER+NPCR)(1,10)",0.0,country,1,33,newhampshire,All Cancer Sites,1638110.0,448.0,447.7,448.4
4,"US (SEER+NPCR)(1,10)",0.0,country,1,17,illinois,All Cancer Sites,1638110.0,448.0,447.7,448.4

In [5]:
cancer_data.tail()

,locale,fips,areatype,cancer,stateFIPS,state,cancer_description,annual_count_avg,incidence rate_per_100000,incidence rate_lower_95_confidence,incidence rate_upper_95_confidence
74492,"Weston County(6,10)",56045.0,county,86,56,wyoming,Non-Hodgkin Lymphoma,3 or fewer,*,*,*
74493,"Weston County(6,10)",56045.0,county,90,56,wyoming,Leukemia,3 or fewer,*,*,*
74494,"Weston County(6,10)",56045.0,county,400,56,wyoming,Breast (in situ) (Female),3 or fewer,*,*,*
74495,"Weston County(6,10)",56045.0,county,515,56,wyoming,"Childhood (Ages <20, All Sites)",3 or fewer,*,*,*
74496,"Weston County(6,10)",56045.0,county,516,56,wyoming,"Childhood (Ages <15, All Sites)",3 or fewer,*,*,*

### Dealing with non-numerical values

In [6]:
cancer_data.replace(to_replace=['3 or fewer', 'ï¿½'], value='0', inplace=True)
cancer_data['annual_count_avg'] = cancer_data['annual_count_avg'].astype("float64").astype("int64")

In [7]:
def split_keep_first(text):
    return text.split()[0]

In [8]:
cancer_data['incidence rate_per_100000'] = cancer_data['incidence rate_per_100000'].apply(split_keep_first)
cancer_data['incidence rate_lower_95_confidence'] = cancer_data['incidence rate_lower_95_confidence'].apply(split_keep_first)
cancer_data['incidence rate_upper_95_confidence'] = cancer_data['incidence rate_upper_95_confidence'].apply(split_keep_first)

In [9]:
cancer_data.replace(to_replace=['* ', '*', 'ï¿½'], value='0', inplace=True)

In [10]:
cancer_data['incidence rate_per_100000'] = cancer_data['incidence rate_per_100000'].astype("float64")
cancer_data['incidence rate_lower_95_confidence'] = cancer_data['incidence rate_lower_95_confidence'].astype("float64")
cancer_data['incidence rate_upper_95_confidence'] = cancer_data['incidence rate_upper_95_confidence'].astype("float64")

In [11]:
cancer_data.head()

,locale,fips,areatype,cancer,stateFIPS,state,cancer_description,annual_count_avg,incidence rate_per_100000,incidence rate_lower_95_confidence,incidence rate_upper_95_confidence
0,"US (SEER+NPCR)(1,10)",0.0,country,1,29,missouri,All Cancer Sites,1638110,448.0,447.7,448.4
1,"US (SEER+NPCR)(1,10)",0.0,country,1,46,southdakota,All Cancer Sites,1638110,448.0,447.7,448.4
2,"US (SEER+NPCR)(1,10)",0.0,country,1,2,alaska,All Cancer Sites,1638110,448.0,447.7,448.4
3,"US (SEER+NPCR)(1,10)",0.0,country,1,33,newhampshire,All Cancer Sites,1638110,448.0,447.7,448.4
4,"US (SEER+NPCR)(1,10)",0.0,country,1,17,illinois,All Cancer Sites,1638110,448.0,447.7,448.4

In [12]:
# converting type of "fips" to int64
cancer_data['fips'] = cancer_data['fips'].astype("int64")

In [13]:
# number of fips codes for which cancer data is available
len(cancer_data['fips'].unique())

3190

## Importing industry data per county

In [14]:
industry_data = pd.read_csv("../data_clean/final_indicators_per-industry_per-county.csv")
industry_data.head()

,Unnamed: 0,fips,county,name,industry_code,industry_detail,relevant_naics,year,payann,total_compensation,...,METL,MINE,MSW,NREN,OZON,PEST,REN,SMOG,VADD,WATR
0,0,8001,1,"Adams County, Colorado",113000,timber and raw forest products,[113],2012,0.00,6363.0,...,0,0,0,0,0,0,0,0,0,0
1,1,8001,1,"Adams County, Colorado",115000,agriculture and forestry support,[115],2012,0.29,12285.0,...,1.04547E-07,0,0.00446732,0,2.3968E-07,1.15031E-05,0.001257678,0.002638694,0.277337331,0.020533673
2,2,8001,1,"Adams County, Colorado",211000,unrefined oil and gas,[211],2012,0.00,34979.0,...,0,0,0,0,0,0,0,0,0,0
3,3,8001,1,"Adams County, Colorado",2122a0,"iron, gold, silver, and other metal ores","[21221, 21222, 21229]",2012,0.00,2670.0,...,0,0,0,0,0,0,0,0,0,0
4,4,8001,1,"Adams County, Colorado",212310,dimensional stone,[21231],2012,0.00,2385.0,...,0,0,0,0,0,0,0,0,0,0

### Removing un-necessary columns

In [15]:
industry_data.drop('Unnamed: 0', axis=1, inplace=True)

In [16]:
def remove_useless(df):
    for col in df.columns:
        if len(df[col].unique()) == 1:
            df.drop(col, axis=1, inplace=True)

In [17]:
remove_useless(industry_data)
industry_data.columns

Index(['fips', 'county', 'name', 'industry_code', 'industry_detail',
       'relevant_naics', 'payann', 'total_compensation', 'added_value ($)',
       'Local_tranforrmation_ind', 'estab', 'emp', 'ACID', 'ENRG', 'ETOX',
       'EUTR', 'FOOD', 'GCC', 'HAPS', 'HAZW', 'HC', 'HNC', 'HRSP', 'HTOX',
       'JOBS', 'LAND', 'METL', 'MINE', 'MSW', 'NREN', 'OZON', 'PEST', 'REN',
       'SMOG', 'VADD', 'WATR'],
      dtype='object')

### Renaming some columns

In [18]:
industry_data = industry_data.rename(columns={'Local_tranforrmation_ind': 'local_tranformation_ind'})

### Dealing with non-numerical values

In [19]:
industry_data.replace(to_replace=['#DIV/0!'], value='0', inplace=True)
industry_data['local_tranformation_ind'] = industry_data['local_tranformation_ind'].astype("float64")

In [20]:
industry_data.head()

,fips,county,name,industry_code,industry_detail,relevant_naics,payann,total_compensation,added_value ($),local_tranformation_ind,...,METL,MINE,MSW,NREN,OZON,PEST,REN,SMOG,VADD,WATR
0,8001,1,"Adams County, Colorado",113000,timber and raw forest products,[113],0.00,6363.0,8448,0.00000,...,0,0,0,0,0,0,0,0,0,0
1,8001,1,"Adams County, Colorado",115000,agriculture and forestry support,[115],0.29,12285.0,16115,0.00038,...,1.04547E-07,0,0.00446732,0,2.3968E-07,1.15031E-05,0.001257678,0.002638694,0.277337331,0.020533673
2,8001,1,"Adams County, Colorado",211000,unrefined oil and gas,[211],0.00,34979.0,209735,0.00000,...,0,0,0,0,0,0,0,0,0,0
3,8001,1,"Adams County, Colorado",2122a0,"iron, gold, silver, and other metal ores","[21221, 21222, 21229]",0.00,2670.0,10099,0.00000,...,0,0,0,0,0,0,0,0,0,0
4,8001,1,"Adams County, Colorado",212310,dimensional stone,[21231],0.00,2385.0,8559,0.00000,...,0,0,0,0,0,0,0,0,0,0

In [21]:
# Number of available fips codes
len(industry_data['fips'].unique())

3140

### Finding out diffrerences in "fips" values between the two datasets
Check the counties_fips.csv file in data_raw to find out if fips value actually corresponds to a county or if it corresponds to a state of national value.

In [22]:
industry_fips = set(industry_data['fips'].unique())
cancer_fips = set(cancer_data['fips'].unique())

#### Getting "fips" values in cancer data that don't have corresponding industry data and the other way around

In [23]:
cancer_diff_industry = cancer_fips.difference(industry_fips)
print(cancer_diff_industry)

{0, 48000, 32000, 16000, 53000, 37000, 21000, 5000, 48269, 42000, 26000, 10000, 47000, 2201, 31000, 15000, 15005, 36000, 20000, 4000, 41000, 25000, 9000, 46000, 30000, 51000, 2232, 35000, 19000, 56000, 40000, 24000, 8000, 45000, 29000, 13000, 51917, 50000, 34000, 18000, 2900, 55000, 39000, 23000, 44000, 28000, 12000, 33000, 17000, 1000, 2280, 49000, 54000, 38000, 22000, 6000, 27000}

In [24]:
county_corresp_fips = pd.read_csv('../data_raw/counties_fips.csv')

In [25]:
county_corresp_fips.head()

   FIPS     Name State
0  1001  Autauga    AL
1  1003  Baldwin    AL
2  1005  Barbour    AL
3  1007     Bibb    AL
4  1009   Blount    AL

In [26]:
# getting fips values which correspond to actual counties but don't have entries in the industry dataset
missing_industry_values = set()
for fips in cancer_diff_industry:
    if not county_corresp_fips[county_corresp_fips['FIPS'] == fips].empty:
        missing_industry_values.add(fips)
print(missing_industry_values)

{2232, 2201, 2280, 48269}

In [27]:
industry_diff_cancer = industry_fips.difference(cancer_fips)
len(industry_diff_cancer)

7

In [28]:
#getting fips values that don't correspond to actual counties but have entries in the industry dataset
extra_industry_values = set()
for fips in industry_diff_cancer:
    if county_corresp_fips[county_corresp_fips['FIPS'] == fips].empty:
        extra_industry_values.add(fips)
print(extra_industry_values)

{2275, 2195, 2198, 2230, 2105}

### Joining datasets on "fips" column

#### Inner join: Only keep fips values that are in both datasets

In [29]:
df_inner = pd.merge(cancer_data, industry_data, on='fips', how='inner')

In [30]:
len(df_inner["fips"].unique())

3133

#### Right join: Keep all "fips" values from the industry dataset

In [31]:
df_right = pd.merge(cancer_data, industry_data, on='fips', how='right')

In [32]:
len(df_right["fips"].unique())

3140

#### Left join: Keep all "fips" values from the cancer dataset

In [33]:
df_left = pd.merge(cancer_data, industry_data, on='fips', how='left')

In [34]:
len(df_left["fips"].unique())

3190

### Reduce size of dataset to export
Section taken from: https://www.kaggle.com/arjanso/reducing-dataframe-memory-size-by-65

In [35]:
def reduce_mem_usage(props):
    start_mem_usg = props.memory_usage().sum() / 1024**2 
    print("Memory usage of properties dataframe is :",start_mem_usg," MB")
    NAlist = [] # Keeps track of columns that have missing values filled in. 
    for col in props.columns:
        if props[col].dtype != object:  # Exclude strings
            
            # Print current column type
            print("******************************")
            print("Column: ",col)
            print("dtype before: ",props[col].dtype)
            
            # make variables for Int, max and min
            IsInt = False
            mx = props[col].max()
            mn = props[col].min()
            
            # Integer does not support NA, therefore, NA needs to be filled
            if not np.isfinite(props[col]).all(): 
                NAlist.append(col)
                props[col].fillna(mn-1,inplace=True)  
                   
            # test if column can be converted to an integer
            asint = props[col].fillna(0).astype(np.int64)
            result = (props[col] - asint)
            result = result.sum()
            if result > -0.01 and result < 0.01:
                IsInt = True

            
            # Make Integer/unsigned Integer datatypes
            if IsInt:
                if mn >= 0:
                    if mx < 255:
                        props[col] = props[col].astype(np.uint8)
                    elif mx < 65535:
                        props[col] = props[col].astype(np.uint16)
                    elif mx < 4294967295:
                        props[col] = props[col].astype(np.uint32)
                    else:
                        props[col] = props[col].astype(np.uint64)
                else:
                    if mn > np.iinfo(np.int8).min and mx < np.iinfo(np.int8).max:
                        props[col] = props[col].astype(np.int8)
                    elif mn > np.iinfo(np.int16).min and mx < np.iinfo(np.int16).max:
                        props[col] = props[col].astype(np.int16)
                    elif mn > np.iinfo(np.int32).min and mx < np.iinfo(np.int32).max:
                        props[col] = props[col].astype(np.int32)
                    elif mn > np.iinfo(np.int64).min and mx < np.iinfo(np.int64).max:
                        props[col] = props[col].astype(np.int64)    
            
            # Make float datatypes 32 bit
            else:
                props[col] = props[col].astype(np.float32)
            
            # Print new column type
            print("dtype after: ",props[col].dtype)
            print("******************************")
    
    # Print final result
    print("___MEMORY USAGE AFTER COMPLETION:___")
    mem_usg = props.memory_usage().sum() / 1024**2 
    print("Memory usage is: ",mem_usg," MB")
    print("This is ",100*mem_usg/start_mem_usg,"% of the initial size")
    return props, NAlist

In [36]:
df_reduced, NAlist = reduce_mem_usage(df_inner)
print("_________________")
print("")
print("Warning: the following columns have missing values filled with 'df['column_name'].min() -1': ")
print("_________________")
print("")
print(NAlist)

Memory usage of properties dataframe is : 2520.9422760009766  MB
******************************
Column:  fips
dtype before:  int64
dtype after:  uint16
******************************
******************************
Column:  cancer
dtype before:  int64
dtype after:  uint16
******************************
******************************
Column:  stateFIPS
dtype before:  int64
dtype after:  uint8
******************************
******************************
Column:  annual_count_avg
dtype before:  int64
dtype after:  uint16
******************************
******************************
Column:  incidence rate_per_100000
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  incidence rate_lower_95_confidence
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  incidence rate_upper_95_confidence
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  county
dtype before:  int64
dtype after:  uint16
******************************
******************************
Column:  payann
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  total_compensation
dtype before:  float64
dtype after:  uint32
******************************
******************************
Column:  added_value ($)
dtype before:  int64
dtype after:  uint32
******************************
******************************
Column:  local_tranformation_ind
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  estab
dtype before:  int64
dtype after:  uint16
******************************
******************************
Column:  emp
dtype before:  int64
dtype after:  uint32
******************************
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  2058.3225498199463  MB
This is  81.64893617021276 % of the initial size
_________________

Warning: the following columns have missing values filled with 'df['column_name'].min() -1':
_________________

['total_compensation']

### Exporting the joined dataset
For now we'll work with the resulting inner_join data because it is the most complete.

In [37]:
df_reduced.to_csv("../data_clean/cancer_industry.csv", index=False)