In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import linear_model


dataset = pd.read_pickle("Model1_Data")
RSEED = 100

x1 = pd.concat([dataset.loc[:, 'payann':'emp'], dataset.loc[:, '113000':]], axis=1)
y = dataset.loc[:, 'ACID':'WATR']

In [2]:
dataset.to_csv('dataset.csv')

In [2]:
x1

,payann,total_compensation,added_value ($),local_tranformation_ind,estab,emp,113000,212310,2123a0,221100,...,322291,311230,332913,334300,335221,325413,333991,311221,335110,335224
0,1.102,6363,8448,0.001463,6,30,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.000,2385,8559,0.000000,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.000,3190,8450,0.000000,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,16.657,54469,195047,0.059647,8,182,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0.000,3991,8132,0.000000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7029059,0.000,30961,46819,0.000000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7029060,0.000,7516,11735,0.000000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7029061,0.177,15995,34235,0.000379,8,15,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7029062,0.000,12255,21646,0.000000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7029063,0.000,22449,29800,0.000000,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
X_train1.loc[1, :]

payann                        0.0
total_compensation         2385.0
added_value ($)            8559.0
local_tranformation_ind       0.0
estab                         1.0
                            ...
325413                        0.0
333991                        0.0
311221                        0.0
335110                        0.0
335224                        0.0
Name: 1, Length: 341, dtype: float64

In [5]:
y_train

,ACID,ENRG,ETOX,EUTR,FOOD,GCC,HAPS,HAZW,HC,HNC,...,METL,MINE,MSW,NREN,OZON,PEST,REN,SMOG,VADD,WATR
6069220,0.000034,0.000131,0.000038,0.000354,0.002658,0.632430,0.000008,0.000239,9.549500e-12,1.878910e-11,...,2.453570e-07,0.0,0.030240,0.0,1.740880e-10,4.732500e-11,0.000131,0.001272,6.417863,0.018637
1540301,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
5203730,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
3307673,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
4172813,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508903,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
5836981,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
4844637,0.000001,0.000057,0.000009,0.000001,0.000528,0.002607,0.000014,0.000028,2.650650e-12,9.579550e-12,...,4.173610e-09,0.0,0.002435,0.0,3.069180e-09,4.301500e-11,0.000057,0.000291,0.218968,0.000334
1289364,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
6910716,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,...,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000

In [20]:
ridge = linear_model.Ridge(alpha=0.0001).fit(X_train1, y_train)
print(ridge.score(X_test1, y_test))

0.04210501892227106

In [26]:
lasso = linear_model.Lasso(alpha=0.001).fit(X_train1, y_train)
print(lasso.score(X_test1, y_test))

0.042106625893106264

In [6]:
multi = linear_model.MultiTaskLasso(alpha=0.001).fit(X_train1, y_train)
print(multi.score(X_test1, y_test))

0.04210613740922495

In [ ]:
eNet = linear_model.ElasticNet(random_state=RSEED).fit(X_train1, y_train)
print(eNet.score(X_test1, y_test))

In [ ]:
multi = linear_model.MultiTaskElasticNet(random_state=RSEED).fit(X_train1, y_train)
print(multi.score(X_test1, y_test))

## Trying with just total_compensation, payann, added_value, emp, estab

In [15]:
new_X = x1.drop(['payann', 'local_tranformation_ind'], axis=1)
new_X

,total_compensation,added_value ($),estab,emp,113000,212310,2123a0,221100,221300,31161a,...,322291,311230,332913,334300,335221,325413,333991,311221,335110,335224
0,6363,8448,6,30,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2385,8559,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3190,8450,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,54469,195047,8,182,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3991,8132,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7029059,30961,46819,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7029060,7516,11735,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7029061,15995,34235,8,15,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7029062,12255,21646,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7029063,22449,29800,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
new_y = y.drop(['HC', 'HNC', 'HRSP'], axis=1)
new_y

,ACID,ENRG,ETOX,EUTR,FOOD,GCC,HAPS,HAZW,HTOX,JOBS,...,METL,MINE,MSW,NREN,OZON,PEST,REN,SMOG,VADD,WATR
0,0.001144,0.000365,1.186567,3.682590e-04,0.001087,0.187578,1.596290e-04,0.000004,9.559260e-10,0.000005,...,8.749380e-08,0.0,0.004263,0.000000,5.005340e-10,1.617190e-05,0.000365,0.026608,0.869459,0.180875
1,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,...,0.000000e+00,0.0,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,...,0.000000e+00,0.0,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
3,1.017563,2609.093009,0.732817,8.420957e-02,0.021679,367.417833,1.591900e-02,0.022022,3.867350e-08,0.000082,...,1.687070e-04,0.0,0.084219,1558.288943,6.755460e-06,2.148530e-08,1050.804066,8.594629,42.953215,26.761900
4,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,...,0.000000e+00,0.0,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7029059,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,...,0.000000e+00,0.0,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
7029060,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,...,0.000000e+00,0.0,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
7029061,0.000001,0.000000,0.000001,1.472570e-07,0.000143,0.004671,3.370400e-07,0.000003,1.273510e-12,0.000000,...,2.589830e-11,0.0,0.001015,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000049,0.108083,0.000396
7029062,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,...,0.000000e+00,0.0,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
7029063,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,...,0.000000e+00,0.0,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000

In [17]:
X_train, X_test, y_train, y_test = train_test_split(new_X, new_y,
                                                    test_size=0.3,
                                                    random_state = RSEED)

In [20]:
eNet = linear_model.MultiTaskLasso(alpha=0.01).fit(X_train, y_train)
print(eNet.score(X_test, y_test))